<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/list-style.css}" rel="stylesheet"/>
    <title>Lista studentów</title>
</head>
<body>
<div class="root">
    <nav>
        <ul>
            <li>
                <a href="/projektList">Projekty</a>
            </li>
            <li>
                <a href="/taskList">Zadania</a>
            </li>
            <li>
                <a href="/studentList">Studenci</a>
            </li>
        </ul>
    </nav>
    <h1>Lista studentów</h1>
    <p>
<!--        <a th:href="@{/studentEdit}">Edytuj dane studentów</a>-->
    </p>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Nr indeksu</th>
            <th>Email</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${studenci}">
            <td th:text="${student.studentId}">Id</td>
            <td th:text="${student.imie}">Imię</td>
            <td th:text="${student.nazwisko}">Nazwisko</td>
            <td th:text="${student.nrIndeksu}">Nr indeksu</td>
            <td th:text="${student.email}">Email</td>
            <td>
                <a th:href="@{/studentEdit(studentId=${student.studentId})}">Edytuj</a><br>
                <a th:href="@{/studentEdit(studentId=${student.studentId},delete='true')}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
