<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
    <meta charset="UTF-8">
    <link th:href="@{/css/list-style.css}" rel="stylesheet"/>
    <title>Lista zadan</title>
</head>
<body>
<div class="root">
    <nav>
        <ul>
            <li>
                <a href="/projektList">Projekty</a>
            </li>
            <li>
                <a href="/taskList">Zadania</a>
            </li>
            <li>
                <a href="/studentList">Studenci</a>
            </li>
        </ul>
    </nav>
    <h1>Lista zadan</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Kolejnosc</th>
            <th>Data dodania</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="zadanie : ${zadania}">
            <td th:text="${zadanie.zadanieId}">Id</td>
            <td th:text="${zadanie.nazwa}">Nazwa</td>
            <td th:text="${zadanie.opis}">Opis</td>
            <td th:text="${zadanie.kolejnosc}">Kolejnosc</td>
            <td th:text="${#temporals.format(zadanie.dataCzasDodania, 'yyyy-MM-dd HH:mm:ss')}">Utworzony</td>
            <td>
                <a th:href="@{/taskEdit(zadanieId=${zadanie.zadanieId})}">Edytuj</a><br>
                <a th:href="@{/taskEdit(zadanieId=${zadanie.zadanieId},delete='true')}">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>